body,html,ul,li,ol,h3,p{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Microsoft Yahei";
}
.left::after{
	content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}
.right::before{
	content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}
.nav{
	width: 100%;
	height: 60px;
	background: #168bd8;
	position: fixed;
	z-index: 10;
}
.nav-box{
	width: 1000px;
	height: 60px;
	margin: 0 auto;
}
.nav-box .nav-le{
	width: 120px;
	height: 40px;
	margin-top: 10px;
	background-repeat: no-repeat;
	float: left;
	background: url(../img/1.png);
}
.nav-md{
	float: left;

}
.nav-box .nav-md ul{
	margin-left: 60px;
}
.nav-box .nav-md ul li{
	position: relative;
	list-style-type: none;
	display: list-item;
	float: left;
}
.nav-box .nav-md ul li a{
	text-decoration: none;
	display: inline-block;
	width: 100px;
	font-size: 15px;
	height: 28px;
	padding-top: 32px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}




	.nav-ft{
		width: 420px;
		height: 35px;
		float: right;
		margin-top: 25px;
		text-align: justify;
		
	}
	.nav-ft a:nth-child(1){
		margin-left: 95px;
	}
	.nav-ft a{
		margin: 0 10px;
		float: left;
		line-height: 40px;
		color: #fff;
		font-size: 12px;
		display: block;
		text-decoration: none;

	}
	.nav-ft a:nth-child(1) span{
		display: inline-block;
		background: url(../img/1.png);
		background-position: -88px -154px ;
		width: 32px;
		height: 25px;
		background-repeat: no-repeat;
	}
	
	.nav-ft a:nth-child(4){
		color: #FFDA28
	
	}
		
.donghuatu{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.donghuatu div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	background: url(../img/cloud_1_1d4924b.png) repeat;
	animation:sl1 15s;
	animation-iteration-count:infinite;
}
	@keyframes sl1{
	0%{
	margin-left: 0;
	}
	100%{margin-left:-100%;}
	}
.donghuaxia{
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
}
.donghuaxia{
	position: absolute;
	top: -200px;
	left: 0;
	width: 100%;
	height: 400px;
	background: url(../img/cloud_2_a186193.png) repeat;
	animation:sl2 25s;
	animation-iteration-count:infinite;
}
	@keyframes sl2{
	0%{
	margin-left: 0;
	}
	100%{margin-left:-100%;}
	}
.donghua22{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.donghua22{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: url(../img/cloud_3_5ee0340.png) repeat;
	animation:sl3 35s;
	animation-iteration-count:infinite;
}
	@keyframes sl3{
	0%{
	margin-left: 0;
	}
	100%{margin-left:-100%;}
	}
.haha1{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.haha{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 126px;
	background: #0d71cd url(../img/bg-1_e29bcfa.jpg);
}
.haha1 div:nth-of-type(1){
	position: absolute;
	background: red;
	width: 63px;
	height: 78px;
	background: url(../img/hill_2_540422f.png);
	right:288px;
	top: -13px;
}
h1{
	font-size: 20px;
}

.haha1 div:nth-of-type(2){
	position: absolute;
	width: 260px;
	height: 175px;
	background: url(../img/hill_3_ace39fb.png);
	right: -129px;
	top: -47px;
}
.haha1 div:nth-of-type(3){
	width: 265px;
	height: 175px;
	background: url(../img/hill_1_0d79217.png)no-repeat;
	left: -182px;
	top: -50px;
	position: absolute;
}
.haha1 div:nth-of-type(4){
	width: 242px;
	height: 228px;
	background: url(../img/ship_1ad6734.png);
	left: 100px;
	margin-top: -190px;
	margin-left: 24px;
	position: absolute;
	animation:lunchuan 2.5s;
animation-direction:alternate;
}
	@keyframes lunchuan{
	100%{margin-left:10px;}
	}
.ziti{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	float: left;
	
	margin-top: -210px;
	margin-left: 185px;

}
.baidu2{
	position: absolute;
	left: 0;
	
	width: 501px;
	height: 158px;
	background: url(../img/launch_deea86c.png);
	
}
.feiji{
	position: absolute;
	left: 295px;
	margin-top: -30px;
	width: 119px;
	height: 78px;
	background: url(../img/flight_ade8ee2.png);
	animation:feiji 2s alternate infinite;
	
	}
	@keyframes feiji{
		0%{
			margin-top: -30px;
		}
		100%{
			margin-top: -10px;
		}
	}
	
	.leftbox11{
			position: absolute;
left: 0;
top: 0;
font-family: 'Microsoft Yahei';
color: #fff;
width: 500px;
margin-left: 150px;
margin-top: 240px;
float: left;
animation:movee 2s both;
 background-image: url(../img/bubble_3b0f897.png);
 width: 275px;
 height: 245px;
 display: none;
	}
	.leftbox{
		position: absolute;
left: 0;
top: 0;
font-family: 'Microsoft Yahei';
color: #fff;
width: 500px;
margin-left: 210px;
margin-top: 300px;
float: left;
 animation:movel 2s both;
 display: none;

}
	.leftbox1{
		position: absolute;
left: 0;
top: 0;
font-family: 'Microsoft Yahei';
color: #fff;
width: 500px;
margin-left: 210px;
margin-top: 300px;
float: left;
 animation:movel 2s both;
  display: none;
}
	.leftbox2{
		position: absolute;
left: 0;
top: 0;
font-family: 'Microsoft Yahei';
color: #fff;
width: 500px;
margin-left: 210px;
margin-top: 300px;
float: left;
 animation:movel 2s both;
  display: none;
}
.section:nth-of-type(1){
	background-image: url(../img/bg-0_c25cb21.jpg);

}
.section:nth-of-type(2){
	background-image: url(../img/bg-1_e29bcfa.jpg);

}
.section:nth-of-type(3){
	background-image: url(../img/bg-2_867b7b4.jpg);

}
.section:nth-of-type(4){
	background-image: url(../img/bg-3_153a003.jpg);

}
	
.rightbox{
		position: absolute;
	right: 0;
	
    opacity: 1;
    background: url(../img/brain_36a156f.png)no-repeat;
    width: 444px;
    height: 427px;
    margin-top: -150px;
    animation:mover 1s both;
    display: none;

}
.rightbox1{
		position: absolute;
	right: 0;
	
    opacity: 1;
    background: url(../img/allside_e8abd12.png)no-repeat;
    width: 444px;
    height: 427px;
    margin-top: -150px;
    animation:mover 1s both;
    display: none;

}
.rightbox2{
		position: absolute;
	right: 0;

    opacity: 1;
    background: url(../img/stat_8934528.png)no-repeat;
    width: 444px;
    height: 427px;
    margin-top: -150px;
    animation:mover1 1s both;
    display: none;

}


@keyframes mover{
	0%{
		margin-right:-200px;
		opacity: 0;
	}
	100%{
		margin-right: 250px;
		opacity: 1;
	}
}
@keyframes mover1{
	0%{
		margin-right:-200px;
		opacity: 0;
	}
	100%{
		margin-right: 350px;
		opacity: 1;
	}
}

@keyframes movel{
	0%{
		margin-left:100px;
		opacity: 0;
	}
	100%{
		margin-left: 210px;
		opacity: 1;
	}
}
@keyframes movee{
	0%{
		margin-left:50px;
	
	}
	100%{
		margin-left: 160px;
	
	}
}

.leftbox h3{
		background: url(../img/lingxian.png)no-repeat;
		width: 66px;
		height: 126px;
text-indent: -9999em;
float: left;
margin-right: 5px;
animation:zhuandong 2s  infinite;
}


.leftbox1 h3{
		background: url(../img/quanmian.png)no-repeat;
		width: 66px;
		height: 126px;
text-indent: -9999em;
float: left;
margin-right: 5px;
animation:zhuandong 2s  infinite;
}


.leftbox2 h3{
		background: url(../img/zhuanye.png)no-repeat;
		width: 66px;
		height: 126px;
text-indent: -9999em;
float: left;
margin-right: 5px;
animation:zhuandong 2s  infinite;
}


@keyframes zhuandong{
	100%{
		transform:rotateY(360deg);
	}
}

	
	.wenzi{
		margin-left: 86px;
    margin-top: 8px;
	}
.wenzi h4{
	font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
    margin-top: 0;
    text-align: left;
}
.wenzi p{
	font-size: 19px;
	text-align: left;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
        display: block;
        outline: 0;
}
.anniu{
display: block;
width: 30px;
height: 26px;
background: url(../img/arrow_aad9b25.png);
position: absolute;
left: 50%;
margin-left: -15px;
bottom: 10%;
animation: anniu 1s alternate infinite both;
}
@keyframes anniu{
	0%{
		opacity: 1;
		bottom: 10%;
	}
	50%{
		opacity: 0;
		bottom: 9%;
	}
	100%{
		opacity: 1;
		bottom: 8%;
	}
}

.full{
	
	margin-left: 841px;
    background: #4EBFFC;
    padding-top: 30px;
    margin-top: -198px;
    border-radius: 3px;
    box-sizing:content-box;
    position: absolute;
}
.l1::after{
	display: table;
    content: "";
    line-height: 0;
}
.r1::before{
	display: table;
    content: "";
    line-height: 0;
}
.info{
padding: 0 20px;
display: block;
}

.accout{
	width: 299px;
border: 0;
height: 40px;
background: #fff;
}
.accout span{
	width: 14px;
height: 14px;
margin: 12px 3px 0 10px;
	background: url(../img/icons.png)no-repeat;
	background-position: -124px -12px;

	float: left;
	color: 666;
}
.accout input{
	width: 252px;
	float: left;
	border:0;
	outline: none;
	padding: 9px;
	height: 20px;
	box-shadow: 0;
}
.info #p1{
        height: 20px;
    line-height: 20px;
    vertical-align: top;
    color: #f28281;
    visibility: hidden;
    font-size: 13px;
    max-width: 270px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: block;
}
.mima{
	width: 299px;
border: 0;
height: 40px;
background: #fff;
}
.mima span{
	width: 14px;
height: 14px;
margin: 12px 3px 0 10px;
	background: url(../img/icons.png)no-repeat;
	background-position: -140px -12px;

	float: left;
	color: 666;
}
.mima input{
	width: 252px;
	float: left;
	border:0;
	outline: none;
	padding: 9px;
	height: 20px;
	box-shadow: 0;
}
.ttok{
	display: block;

}
.ttok #ss{
	width: 122px;
	float: left;outline: none;
	padding: 9px;
	height: 20px;
	background: #fff;
}
.ttok img{
	background: url(../img/ygm.jpg)no-repeat;
	margin-left: 10px;
	float: left;
}
.ttok a{
	margin: 10px 0 0 10px;
    font-size: 12px;
    color: #fff;
    float: left;
    cursor: pointer;
    text-decoration: none;
}
.ttok a:hover{
	text-decoration: underline;
}
.action{
display: table;
padding: 0 20px;
}
.action .sub{
	border: 0;
    background: #ffd850;
    color: #5c4c12;
    border-radius: 2px;
    width: 299px;
    margin-top: 12px;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-family:  inherit;
    font-weight: inherit;
    box-sizing:border-box;
}
.action .order{
	margin: 12px 0 8px;
    font-size: 12px;
    color: #9dbcdb;
    display: block;
    font: 14px/1.5 "Microsoft YaHei", 微软雅黑, Helvetica, sans-serif;
}
.order li:first-child{
	float: left;
	font-size: 12px;
	color: #9dbcdb
}
.order a{
	text-decoration: none;
	color: #fff;
}
.order li:first-child span{
	vertical-align: top;
	display: inline-block;
    width: 15px;
    height: 17px;
    background: url(../img/icons.png)no-repeat -203px -75px;
    margin: 2px 4px 0 0;

}
.order li:last-child{
	float: right;
	font-size: 12px;
	color: #9dbcdb
}

.copy{
	width: 200px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	bottom: 5%
}